* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.panel {
    margin: 1rem;
    padding: 2% 5%;
    min-width: 300px;
    border: 2px solid black;
    border-radius: 15px;
}

h1 {
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    margin: 1rem 0;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    margin: .5rem 0;
    text-align: center;
}

.filtersList {
    display: flex;
    flex-flow: row wrap;
    margin: .5rem 0;
}

label {
    padding: .5rem 1rem;
    margin: .5rem;
    border: 2px solid #000;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

label:hover {
    background-color: #303030;
    color: #fafafa;
}

.radio:checked + label {
    background-color: #000;
    color: #fafafa;
}

.radio:disabled + label {
    background-color:#c9c9c9;
    color: #787777;
    border: 2px solid #c9c9c9;
    opacity: .8;
    cursor: not-allowed;
}

.radio {
    display: none;
}
